<!DOCTYPE html>
<html>
<head>
   
    <title>Layout Specification</title>
    <link href="./styles.css" rel="stylesheet"></head>
</head>
<body>
    <header>
        <section class="header1">
            <h1 class="menu">eStore</h1>
            <nav class="main">
                <ul>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Wish List</a></li>
                    <li><a href="#">Shopping</a></li>
                    <li><a href="#">Cart</a></li>
                    <li><a href="#">Checkout</a></li>
                </ul>
            </nav>
        </section>
        <section class="header2">
            <nav class="category">
                <ul>
                    <li><a href="#">Men</a></li>
                    <li><a href="#">Women</a></li>
                    <li><a href="#">Kids</a></li>
                    <li><a href="#">Protective Wear</a></li>
                    <li><a href="#">Footwear</a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#">Friday Casual</a></li>
                </ul>
            </nav>
            <label for="searchBox"></label>
            <input type="search" id="searchBox" class="search" placeholder="Search for Products & Brands">
        </section>
    </header>
    <section class="column3Layout">
        <div class="maskImage">        
            <img src=".\assets\mask.PNG" alt="mask">
        </div>
        <div class="title">        
            <p>STAY HOME, STAY SAFE.</p>
        </div>
        <div class="information">
            <p>Contactless Deliveries</p>
            <p>All delivery staff trained in COVID-19 preventive measures</p>
            <p>All Delivery and warehouse staff are equipped with medical-grade hand Santizers</p>
            <p>All warehouses staff undergo daily mandatory thermal temperature scanning</p>
            <p>No deliveries in &lsquo;highly affected&rsquo; areas</p>
        </div>
    
    </section>
    <div class="insideContainer">
        <section class="dealsSections">
            
            <div class="headings">        
                <p><span class="firstL">D</span>eals of the day</p>
            </div>
            
            <div class="figure-Layout">
            
                <div class="figure-Image">
                    <figure>
                        <img src=".\assets\Placeholder.png">
                        <figcaption class="figure-Caption">Sports & Fitness Gear Upto 80% Off</figcaption>
                    </figure>
                </div>
                <div class="figure-Image">
                    <figure>
                        <img src=".\assets\Placeholder.png">
                        <figcaption class="figure-Caption">Branded Jeans Upto 50% Off</figcaption>
                    </figure>
                </div>
                <div class="figure-Image">
                    <figure>
                        <img src=".\assets\Placeholder.png">
                        <figcaption class="figure-Caption">Branded T-Shirts Upto 60% Off</figcaption>
                    </figure>
                </div>
                <div class="figure-Image">
                    <figure>
                        <img src=".\assets\Placeholder.png">
                        <figcaption class="figure-Caption">Sports & Fitness Gear Upto 50% Off</figcaption>
                    </figure>
                </div>
                <div class="figure-Image">
                    <figure>
                        <img src=".\assets\Placeholder.png">
                        <figcaption class="figure-Caption">Branded Kids T-Shirts Upto 40% Off</figcaption>
                    </figure>
                </div>
                <div class="figure-Image">
                    <figure>
                        <img src=".\assets\Placeholder.png">
                        <figcaption class="figure-Caption">Sports Girls T-Shirts Upto 50% Off</figcaption>
                    </figure>
                </div>
            </div>
    
        </section>
        <section class="fashionCategories">
            <div class="headings">
                <p><span class="firstL">F</span>ashion Categories</p>
            </div>
            <div class="fig-cat-Layout">
                <div class="fig-cat-Image">
                    <figure>
                        <img src=".\assets\Placeholder.png">
                        <figcaption class="fig-cat-Caption">Kurtas</figcaption>
                    </figure>
                </div>
                <div class="fig-cat-Image">
                    <figure>
                        <img src=".\assets\Placeholder.png">
                        <figcaption class="fig-cat-Caption">Shirts</figcaption>
                    </figure>
                </div>
                <div class="fig-cat-Image">
                    <figure>
                        <img src=".\assets\Placeholder.png">
                        <figcaption class="fig-cat-Caption">Pants</figcaption>
                    </figure>
                </div>
                <div class="fig-cat-Image">
                    <figure>
                        <img src=".\assets\Placeholder.png">
                        <figcaption class="fig-cat-Caption">TShirts</figcaption>
                    </figure>
                </div>
            </div>
    
            <div class="fig-cat-Layout">
                <div class="fig-cat-Image">
                    <figure>
                        <img src=".\assets\Placeholder.png">
                        <figcaption class="fig-cat-Caption">Shoes</figcaption>
                    </figure>
                </div>
                <div class="fig-cat-Image">
                    <figure>
                        <img src=".\assets\Placeholder.png">
                        <figcaption class="fig-cat-Caption">Casual Shirts</figcaption>
                    </figure>
                </div>
                <div class="fig-cat-Image">
                    <figure>
                        <img src=".\assets\Placeholder.png">
                        <figcaption class="vCaption">JEANS</figcaption>
                    </figure>
                </div>
                <div class="fig-cat-Image">
                    <figure>
                        <img src=".\assets\Placeholder.png">
                        <figcaption class="fig-cat-Caption">Tops</figcaption>
                    </figure>
                </div>
            </div>
        </section>
    
        <section class="brand">
            <p>Adidas | Arrow | Fila | Online Shopping | Nike | Pepe Jeans | Puma | United colors of Benetton | Fasttrack | Shorts | Being Human | Skirts | Woodland | 
                Supra Dresses Clothing | Jewellery | T-shirts | Shoes | Bags | Watches | Caps | Shirts | Backpacks | Flip Flops | Sunglasses | Kurtas | Jackets | Skechers 
                | Saree | Sandals | Puma Tshirts | Woodland Shoes | Titan Watches | Fasttrack Watches | Wrangler Shirts | Adidas Tshirts | Nike Shoes | Roadster Shirts | 
                Casual Shoes | Running Shoes | Nike Sports Shoes | Jeans | Being Human | Tshirts | Converse Shoes | Cricket Shoes</p>
        </section>
    
    </div>
    
    <footer>
        <section class="footer">
            <div class="column">
                <p class="column-header">MY ACCOUNT</p>
                <p>Orders</p>
                <p>Returns/Refunds</p>
                <p>Track Order</p>
                <p>Frequently Asked Questions</p>
            </div>

            <div class="column">
                <p class="column-header">POLICIES</p>
                <p>Payment Options</p>
                <p>Terms & Condditions of Use</p>
                <p>Terms & Conditions of Membership Porgram</p>
                <p>Offer Terms & Conditions</p>
                <p>Returns & Exchange Policy</p>
                <p>Shipping Policy</p>
                <p>Privacy Policy</p>
                <p>Safety Checklist</p>
            </div>
            
            <div class="column">
                <div class="innercolumn">
                <p class="column-header">CONTACT US</p>
                <p>Customer Support</p>
                <p>Store Locators</p>
                <p>Help Center</p>
                </div>
                

                <div class="innerContent">
                    <p class="column-header">ABOUT US</p>
                    <p>Official Brand Store</p>
                    <p>About Us</p>
                    <p>Careers</p>
                </div>
            </div>

            <div class="column">
                <p class="column-header">SOCIAL</p>
                <p>Facebook</p>
                <p>Twitter</p>
                <p>Youtube</p>
            </div>
        </section>
    </footer>
</body>
</html>