
 <%- include('header') %>

 <div style="margin-top:30px;">
     <form action="/login" method="post">
         <div style="margin-bottom:20px;">
             <label>UserId</label>
             <input type="text" name="uid">
         </div>
         <div style="margin-bottom:20px;">
            <label>Password</label>
            <input type="password" name="pwd">
        </div>
        <div>
            <button>Login</button>
        </div>
     </form>
 </div>



 <%- include('footer') %>