.fashion-item-container{
    width: 200px;
    /* height: 240px; */
    height: auto;
    background-color: #dbf3fa;
    padding: 5px 5px 15px;
    margin: 20px 0px 40px;

    img{
        width: 100%;
        height: auto;
        /* text-align: center; */
        /* margin: auto; */
    }

    h4{
        text-align: center;
    }
}