.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;

    img{
        width: 175px;
    }
    h4{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: left;
        font-size: 18px;
        line-height: 10px;
    }
}
